* {
    margin: 0;
    padding: 0;
  }

  body {
      background-color: rgb(231, 238, 228);
  }
  
  header {
    background: #000000;
    opacity: 0.5;
    padding: 2vh;
  }
  
  header > h1 {
    color: #ffffff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5vw;
  }

  #rule {
      color: #000000;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.2vmax; 
      text-align: center;
      margin: 1vh;
  }

  #guessMsg {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5vmax; 
    text-align: center;
}

  #container {
      height: auto;
      width: 44%;
      position: absolute;
      left: 28%;
      right: 28%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      justify-content: center;

  }

  button {
      height: 2.2vmax;
      width: 2.2vmax;
      background-color: #000000;
      color: #ffffff;
      font-size: 1.1vmax;
      text-align: center;
      font-weight: bolder;
      margin-top: 3vh;
      margin-left: 2vw;
      box-shadow: 0.15vmax 0.3vmax 0.15vmax 0.3vmax #949593
  }

  button:hover {
    cursor: pointer;
    background: green;
  }

  .disabledBtnsStyle {
    height: 2.2vmax;
    width: 2.2vmax;
    background-color: gray;
    color: #ffffff;
    font-size: 1.1vmax;
    text-align: center;
    font-weight: bolder;
    margin-top: 3vh;
    margin-left: 2vw;
    box-shadow: 0.15vmax 0.3vmax 0.15vmax 0.3vmax #949593

  }

  .winner {
    height: 2.2vmax;
    width: 2.2vmax;
    background-color: green;
    color: #ffffff;
    font-size: 1.1vmax;
    text-align: center;
    font-weight: bolder;
    margin-top: 3vh;
    margin-left: 2vw;
    box-shadow: 0.15vmax 0.3vmax 0.15vmax 0.3vmax #949593
  }

  .hint {
    font-weight: bold;
    background-color: lightcoral;
    display: inline;
  }

  .win {
    font-weight: bolder;
    background-color:lightgreen;
    
  }

  .loose {
    font-weight: bolder;
    background-color: lightcoral;
  }
